---
import { getLangFromUrl, useTranslations } from '../../../i18n/languagePicker'

interface Props {
	workID: 'practicasprofesionales' | 'ibm-internship'
	skills: string[]
}

const { workID, skills } = Astro.props
const current_language = getLangFromUrl(Astro.url)
const t = useTranslations(current_language)
---

<div id={workID} style="display: none;">
	<h3 class="text-center text-2xl" id={`${workID}-title`}>
		{t(`experience.${workID}.title`)}
	</h3>
	<p class="text-center text-sm italic text-neutral-300">
		{t(`experience.${workID}.date-started`)} - {
			t(`experience.${workID}.date-finished`)
		}
	</p>
	<span class="mb-6 mt-2 flex items-start justify-center text-center">
		<img
			class="inline-block w-6"
			src="/portfolio/img/building.svg"
			alt="employer"
		/>
		<p class="w-fit">
			{t(`experience.${workID}.employer`)}
		</p>
	</span>
	<p>
		{t(`experience.${workID}.body`)}
	</p>
	<div class="my-4">
		<h4 class="text-lg">{t('experiece.skills.title')}:</h4>
		<div
			class="mt-2 flex flex-wrap justify-center gap-2 break-keep text-sm"
		>
			{
				skills.map((skill) => (
					<span class="rounded-full bg-primary px-2 py-1 ">
						{skill}
					</span>
				))
			}
		</div>
	</div>
</div>
